<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Profile</h1>
		<hr>
		<h2>My Orders</h2>
		{{# each orders}}
			<div class="panel panel-default">
				<div class="panel-body">
					<ul class="list-group">
						{{# each this.items}}
							<li class="list-group-item" style="display: flex; justify-content: space-around; align-items: center;">
								<strong>{{ this.item.title }}</strong>
								<p><span>{{ this.qty }}</span> Units</p>
								<span class="label label-success" style="font-size: 15px;">$ {{ this.price }}</span>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="panel-footer">
					<strong>TotalPrice: ${{ this.cart.totalPrice }}</strong>
				</div>
			</div>
		{{/each}}
	</div>
</div>