.buttons {
	background-color: #2463D8 ;
	color: #fff;
	border-radius: 30px;
	border: none;
	padding: 10px 20px;
	font-size: 15px;
  	box-shadow: 0 0 7px 0 rgba(56, 56, 56, 0.2);
}

.buttons:focus, .buttons:hover {
    background-color: rgb(35, 64, 117) ;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	outline: none;
}


nav {
	background-color: #000 !important;
	color: #fff !important;
}

nav a {
	color: #fff !important;
	font-weight: normal;
}

.card {
	border-color: transparent;
	transition: all 1s linear; 
	border: 1px solid transparent;
	box-shadow: 0 7px 16px 0 #e9e9e9;
	margin-bottom: 15%;
}

.card:hover img{
	transform: scale(1.2);
}
.card img {
	height: 250px;
	width: 150px;
	margin: 40px auto;
	transition: all 1s linear;
}

.card-footer p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	margin: 10px 0;
}

.card-footer .price-cart {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all 1s linear;
	margin : 0 50px 15px 50px;
}

.card-footer .price-cart a {
	text-decoration: none;
	text-decoration-line: none;
	color: #000;
}

.cart-btn {
	border: 2px solid #2463D8;
	padding: 7px 10px;
	border-radius: 10px 0 10px 0;
	color: #000;
	font-weight: 400;
}

.cart-btn:hover{
	background-color: #2463D8;
	color: white !important;
	font-weight: 400;
}


.box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkout {
	width: 50% !important;
}

.expiration {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto !important;
	margin: 0 65px 0 0;
}


.order-card {
	border-color: transparent;
	transition: all 1s linear; 
	border: 1px solid transparent;
	box-shadow: 0 7px 16px 0 #e9e9e9;
	margin-bottom: 2%;
	padding: 20px 20px;
}

.list-item {
	list-style: none !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-footer {
	padding: 0 0 0 50px;
	width: 30%;
}


.shopping-cart {
	margin: 30px 0 50px 0;
}

ul {
	padding-inline-start: 0 !important;
	margin: 0 30px;
}

ul .list{
	list-style: none;
	display: flex;
	justify-content: space-between !important;
	align-items: center;
}

ul li .qty b {
	margin: 0 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
}

ul .price {
	font-size: 18px;
	font-weight: bold;
}
